doctype html
html
    head
        title tmcofficialmusic
        block scripts
        block style
    body
        block content
        footer#footer
            p Copyright © 2020 tmcofficialmusic.com | All rigths reserved ®
            a(href="/" target="_blank")
                p#right Privacy Policy
            a(href="/" target="_blank")
                p#right1 Term of Use